---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<HIDDEN_KEY>&lat=5&lon=-130&radius=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 735e7086-00ec-4085-b83a-31f80c45eb3b
      X-Apigee.target-Latency:
      - '16'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":14,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":5,"lon":-130},"geobiasCountry":"UM"},"results":[]}'
  recorded_at: Thu, 31 Aug 2023 20:57:40 GMT
recorded_with: VCR 6.2.0
