---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<HIDDEN_KEY>&lat=5&lon=-130&radius=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - f28fa562-e63e-4621-9960-d408fd851c14
      X-Apigee.target-Latency:
      - '19'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":17,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":5,"lon":-130},"geobiasCountry":"UM"},"results":[]}'
  recorded_at: Wed, 04 Oct 2023 22:07:22 GMT
recorded_with: VCR 6.2.0
