---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<HIDDEN_KEY>&lat=35.234&lon=-106.435&radius=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - a6a53c76-5818-4a2e-b363-4bae921d4214
      X-Apigee.target-Latency:
      - '33'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":30,"numResults":7,"offset":0,"totalResults":7,"fuzzyLevel":1,"geoBias":{"lat":35.234,"lon":-106.435},"geobiasCountry":"US"},"results":[{"type":"POI","id":"KJtmiD__BVXsOsfUElxH7w","score":93.7450180054,"dist":6254.984369,"info":"search:ta:840359000646898-US","poi":{"name":"Pueblo
        Bank And Trust Company","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"10","streetName":"Tramway Loop
        Northeast","municipality":"Albuquerque","countrySecondarySubdivision":"Bernalillo","countrySubdivision":"NM","countrySubdivisionName":"New
        Mexico","postalCode":"87122","extendedPostalCode":"87122-2017","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"10 Tramway Loop Northeast,
        Albuquerque, NM 87122","localName":"Albuquerque"},"position":{"lat":35.191003,"lon":-106.479394},"viewport":{"topLeftPoint":{"lat":35.1919,"lon":-106.48049},"btmRightPoint":{"lat":35.1901,"lon":-106.47829}},"entryPoints":[{"type":"main","position":{"lat":35.19102,"lon":-106.47922}}]},{"type":"POI","id":"xtAv8bSv0Zl3WQMahZgfjw","score":92.5916900635,"dist":7408.316272,"info":"search:ta:840359000788142-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"9530","streetName":"Tramway Boulevard
        Northeast","municipality":"Albuquerque",[...]
